.navbar-custom {
  background-color: goldenrod;
  border: 1px solid black;
  font-size: 1.3vw;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  border: 1px solid black;
  padding: 5px;
  min-width: 7vw;
  text-align: center;
}

.img-wrap {
  float: left;
  padding-right: 1.3vw;
}

.historia-title {
  text-align: center;
}

.historia-table-cell {
  vertical-align: top;
  padding: .3vw;
}

body {
  background-color: #fcc200;
  color: black;
  font-family: Cambria, Calibri, Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.main-text {
  padding: 5px;
  align-content: center;
  font-size: 1.8vw;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.0vw;
}

.logo-container {
  vertical-align: center;
  text-align: center;
}

img.logo {
  width: 45vw;
  height: auto;
  max-width: 100%;
  max-height: 90vh;
}

.country-flag-container {
  text-align: center;
}

.country-flag {
  font-size: 4vw;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-column-nos {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-container-plugins {
  flex-direction: column;
  display: flex;
}

.outline {
  border: black 0.1vw solid;
  padding: 0.5vw;
  max-width: 33%;
}

.bio-guest {
  text-align: right;
}

.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.youtube {
  width: 50%;
  height: 50vh;
}

/* Mobile */
@media screen and (max-width: 1080px) {
  .flex-container {
    flex-direction: column;
  }

  .outline {
    min-width: 100%;
  }

  .main-text {
    align-content: center;
    font-size: 3.0vw;
  }

  .navbar-custom {
    font-size: 2.5vw;
  }

  img.logo {
    width: 70vw;
    height: auto;
    max-width: 100%;
    max-height: 140vh;
  }

  .country-flag {
    font-size: 6vw;
  }

  .youtube {
    width: 90%;
    height: 50vh;
  }

  .footer {
    font-size: 2.0vw;
  }
}