.navbar-custom {
  background-color: goldenrod;
  border: 1px solid black;
  font-size: 1.3vw;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #fcc200;
  color: black;
  font-family: Calibri, Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.main-text {
  padding: 5px;
  align-content: center;
  font-size: 1.8vw;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.0vw;
}

.logo-container {
  vertical-align: center;
  text-align: center;
}

img.logo {
  width: 45vw;
  height: auto;
  max-width: 100%;
  max-height: 90vh;
}

.country-flag-container {
  text-align: center;
}

.country-flag {
  font-size: 4vw;
}

.flex-container {
  display: flex;
}

.outline {
  border: black 0.1vw solid;
  padding: 0.5vw;
  max-width: 33%;
}

@media screen and (max-width: 1080px) {
  .flex-container {
    flex-direction: column;
  }

  .outline {
    min-width: 100%;
  }

  .main-text {
    align-content: center;
    font-size: 3.0vw;
  }

  .navbar-custom {
    font-size: 2.5vw;
  }

  img.logo {
    width: 70vw;
    height: auto;
    max-width: 100%;
    max-height: 140vh;
  }

  .country-flag {
    font-size: 6vw;
  }
}